# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# ignore target directory with binary files
target/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ config
.idea/*
*.iml

alica-codegen-cpp/src/main/xtend-gen/
alica-codegen-java/src/main/xtend-gen/
alica-codegen-python/src/main/xtend-gen/
